.navbar-nav {
    margin-left: auto;
    
}

.navbar-brand {
    background-color: #ba93c6;
    font-size: 30px;
}


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(167, 167, 245);
    color: white;
    text-align: center;
   
}

h1{
    color: #ba93c6;
}


.page-header {
    text-decoration: underline;
}

.portfolio-section {
    text-decoration: underline;
}

.contact-section {
    text-decoration: underline;
}

.container {
    margin-top: 40px;
}

