.navbar-nav {
    margin-left: auto;
}

.navbar-brand {
    background-color: slateblue;
    font-size: 30px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(167, 167, 245);
    color: white;
    text-align: center;
   
}

.container {
    border: 5px solid #c0d6e4;
}

.page-header {
    text-decoration: underline;
    
}

.main-section {
    text-decoration: underline;
}
